<div class="contents-title text-center">
  <h3>- 投稿一覧 -</h3>
</div>
<input type=form id="form" placeholder="検索したいキーワードを入力して下さい" style="width: 250px;"/>
<%= render 'posts/post', post: @post %>
<hr>
<%= paginate @posts %>