/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';

/* 全体 */
html {
  height: 100%;
}

body {
  background-color: #fffaf0;
}

main {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #fffaf0;
}

.base-container {
  margin: 0 auto;
  padding: 1rem;
}

/* max-width */

.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}

//ログイン画面
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

//フラッシュ
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

//ヘッダー
body {
  padding-top: 51px;
}

.base-bg-color {
  background: linear-gradient(to right, #353ada, #5a9dfb);
}

.navbar-collapse {
  justify-content: flex-end;
}

.header-nav {
  font-size: 0.8rem;
  margin: 0 auto;
}
