/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';

// Fontawesome
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

/* 全体 */
html {
  height: 100%;
}

body {
  background-color: #fffaf0;
}

main {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: #fffaf0;
}

.base-container {
  margin: 0 auto;
  padding: 1rem;
}

/* max-width */

.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}

//ログイン画面
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

//フラッシュ
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

//ヘッダー
body {
  padding-top: 48px;
}

.base-bg-color {
  background: linear-gradient(to right, #353ada, #5a9dfb);
}

.navbar-collapse {
  justify-content: flex-end;
}

.header-nav {
  font-size: 0.8rem;
  margin: 0 auto;
}

// 投稿一覧ページ
.text-card-container {
  padding-left: 9px;
  padding-right: 9px;
  margin-top: 12px;
  margin-bottom: 50px;
}
.content-card {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.text-card-body {
  text-decoration: black;
  color: black;
}

.card-img-top {
  max-height: 500px;
  min-height: 500px;
  max-width: 100%;
  object-fit: cover;
}

// 詳細ページ
.postShow-wrap {
  border: 5px solid #e6e6e6;
  max-height: 100%;
  max-width: 850px;
  margin: 12px;
}
///画像サイズ
.card-img-left {
  height: 100%;
  width: 100%;
  // max-height: 600px;
  object-fit: fit;
}

.post-wrap .col-md-8 {
  padding: 2px;
}

.post-wrap .col-md-4 {
  padding: 1px;
}

.card-right {
  padding: 20px;
  position: relative;
}

.card-right-name {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
}

.card-right-body {
  max-height: 10em;
  display: table-cell;
  vertical-align: middle;
}

.card-right-comment {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  max-height: 300px;
  min-height: 200px;
  margin-bottom: 12px;
  overflow: auto;
}

.post-user-name {
  display: flex;
  align-items: center;
  line-height: 3;
}
/// 詳細ページのいいね
.card-right-like {
  text-align: center;
}
///ボタン
.card-text-btn {
  width: 100%;
  margin: auto;
  margin-top: 12px;
  text-align: center;
}

//コメント機能
.comment-card {
  border: 5px solid #e6e6e6;
  padding: 20px;
  width: 100%;
  max-width: 850px;
  margin: auto;
}

.input-comment {
  border: 4px solid #75d6dd;
  width: 100%;
  margin: auto;
  font-size: 20px;
}

.form-btn {
  width: 100%;
  margin: auto;
  margin-bottom: 18px;
  text-align: center;
}

.comment-container {
  margin: auto;
  padding: 20px;
}

//投稿・編集ページ
.form-card {
  max-width: 850px;
  margin: auto;
  padding: 30px;
}

///formの大枠
.form-container {
  padding: 18px;
}
///画像選択
.image-form-card {
  max-width: 800px;
  padding: 15px;
  height: 4.5rem;
  font-size: 20px;
}
///投稿内容
.input-post {
  border: 4px solid #75d6dd;
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

// いいね機能
.like-btn {
  color: #8899a6;
}

.unlike-btn {
  color: #ff2581;
}

// 共通
a:hover {
  text-decoration: none;
}

// ページネーション
.pagination {
  justify-content: center;
}
