/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';

// Fontawesome
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

/* 全体 */
html {
  height: 100%;
}

body {
  background-color: #fffaf0;
}

main {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: #fffaf0;
}

.base-container {
  margin: 0 auto;
  padding: 1rem;
}

/* max-width */

.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}

//ログイン画面
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}
.container-login h1 {
  text-align: center;
}

.container-login h3 {
  text-align: center;
}

//フラッシュ
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

//ヘッダー
body {
  padding-top: 64px;
}

.base-bg-color {
  background-color: #fffaf0;
}
.navbar-collapse {
  justify-content: flex-end;
}

.header-nav {
  font-size: 0.8rem;
  margin: 0 auto;
}

.navi-title {
  margin-top: 10px;
}

.favicon_img {
  width: 38px;
  height: 38px;
  vertical-align: bottom;
  padding-bottom: 5px;
}
///ヘッダーアイコン画
.navi_icon_image {
  //サイズ指定
  width: 24px;
  height: 24px;
  //画像を丸くする
  border-radius: 36px;
  //タテヨコ比を変えないままトリミング
  object-fit: cover;
  margin-right: 0;
}

// トップページ
.top-page {
  background: linear-gradient(to right, #7eb0f7, #5f61e9);
  padding: 20px;
  margin: 0 auto;
}

.top-wrap {
}

.card-top-left {
  color: rgb(252, 248, 248);
  padding-top: 80px;
  // position: absolute;
}

.card-left-title {
  text-align: center;
  letter-spacing: 0.5rem;
}

.card-left-body {
  background-color: #fffaf0;
  color: #000000;
  max-width: 100%;
  height: 100%;
  // position: absolute;
  // margin-top: 60px;
  margin-top: 40px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.contents-info {
  text-align: center;
  margin: 30px auto;
  font-weight: bold;
  font-size: 45px;
  font-family: 'Cabin Sketch', cursive;
  letter-spacing: 2px;
}

.card-container {
  padding: 0;
  margin: 0 80px 40px;
  text-align: center;
  font-weight: bold;
  color: #000000;
  border: #000000 solid 2px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.card-top-image {
  width: 100px;
  height: 60px;
  object-fit: cover;
}

// マイページ
.mypage-wrap {
  max-height: 100%;
  max-width: 500px;
  margin-top: 12px;
  padding: 10px;
}

.card-mypage-left {
  margin: auto;
  padding: 12px;
}
.mypage_icon_image {
  //サイズ指定
  width: 260px;
  height: 260px;
  //画像を丸くする
  border-radius: 300px;
  //タテヨコ比を変えないままトリミング
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.card-mypage-body {
  text-align: center;
  padding: auto;
  margin: 10px;
  margin-top: 30px;
}

.card-mypage-title {
  margin-bottom: 20px;
}

.card-mypage-btn {
  width: 100%;
  max-width: 460px;
  margin: auto;
  margin-top: 16px;
  text-align: center;
}
/// ラジオボタン
.tabs {
  margin-top: 50px;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;
}

.tab_item {
  width: calc(100% / 2);
  height: 50px;
  border-bottom: 3px solid #4f6ec2;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

input[name='tab_item'] {
  display: none;
}

.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

#all:checked ~ #all_content,
#like:checked ~ #like_content {
  display: block;
}

.tabs input:checked + .tab_item {
  background-color: #4f6ec2;
  color: #fff;
}
/// 自身の投稿・いいね
.tab-card-container {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 1px;
  margin-bottom: 30px;
}
.tab-content-card {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-color: #f0f4ff;
}

.card-img-tab {
  width: 100%;
  height: 100%;
  max-height: 200px;
  min-height: 200px;
  max-width: 100%;
  object-fit: cover;
}

// 投稿一覧ページ
.text-card-container {
  padding-left: 9px;
  padding-right: 9px;
  margin-top: 12px;
  margin-bottom: 50px;
}
.content-card {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
///アイコン画像
.icon_image {
  //サイズ指定
  width: 50px;
  height: 50px;
  //画像を丸くする
  border-radius: 60px;
  //タテヨコ比を変えないままトリミング
  object-fit: cover;
  margin-right: 1px;
}

.text-title {
  font-size: 24px;
  color: black;
  line-height: 3;
  margin: 0;
}

.text-card-body {
  color: black;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.card-img-top {
  max-height: 500px;
  min-height: 500px;
  max-width: 100%;
  object-fit: cover;
}

// 詳細ページ
.postShow-wrap {
  border: 5px solid #e6e6e6;
  max-height: 100%;
  max-width: 850px;
  margin: 12px;
}
///画像サイズ
.card-img-left {
  height: 100%;
  width: 100%;
  // max-height: 600px;
  object-fit: fit;
}

.post-wrap .col-md-8 {
  padding: 2px;
}

.post-wrap .col-md-4 {
  padding: 1px;
}

.card-right {
  padding: 12px;
  position: relative;
}

.card-right-name {
  padding-bottom: 5px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
}

.card-right-body {
  max-height: 10em;
  display: table-cell;
  vertical-align: middle;
}

.card-right-comment {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  max-height: 300px;
  min-height: 200px;
  margin-bottom: 12px;
  overflow: auto;
}

.post-user-name {
  display: flex;
  align-items: center;
  line-height: 3;
  font-size: 24px;
}
///ボタン
.card-text-btn {
  width: 100%;
  margin: auto;
  margin-top: 12px;
  text-align: center;
}

// コメント機能
.comment-card {
  border: 5px solid #e6e6e6;
  padding: 20px;
  width: 100%;
  max-width: 850px;
  margin: auto;
}

.input-comment {
  border: 4px solid #75d6dd;
  width: 100%;
  margin: auto;
  font-size: 20px;
}

.form-btn {
  width: 100%;
  margin: auto;
  margin-bottom: 18px;
  text-align: center;
}

.comment-container {
  margin: auto;
  padding: 20px;
}
///コメントアイコン画像
.comment_icon_image {
  //サイズ指定
  width: 30px;
  height: 30px;
  //画像を丸くする
  border-radius: 40px;
  //タテヨコ比を変えないままトリミング
  object-fit: cover;
  margin-right: 0;
}

//投稿・編集ページ
.form-card {
  max-width: 850px;
  margin: auto;
  padding: 30px;
}

///formの大枠
.form-container {
  padding: 18px;
}
///画像選択
.image-form-card {
  max-width: 800px;
  padding: 15px;
  height: 4.5rem;
  font-size: 20px;
}
///投稿内容
.input-post {
  border: 4px solid #75d6dd;
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

// いいね機能
.card-like {
  float: right;
  margin-right: 10px;
}

.like-btn {
  color: #8899a6;
}

.unlike-btn {
  color: #ff2581;
}

// 共通
a:hover {
  text-decoration: none;
}

// ページネーション
.pagination {
  justify-content: center;
}
